body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav{
  padding:0 5px;
}
#addBtl > div{
  display:inline-block;
}

#addBtl .btl label{
  display:block;
}

#addBtl input,#addBtl label{margin-left:5px;}

#addBtl .btl-amount input{
  width:50px;
}

table.btl-list{
  border:1px solid black;
}
