form#addBtl
 label(for="oz") Bottle Ammount in oz.
 br
 input(type="number" name="oz" required)
 br
 label(for="dttm") Gave bottle at...
 br
 input(type="time" name="dttm" value="")
 br
 label(for="dttm") Finished bottle at...
 br
 input(type="time" name="dttmFin")
 br
 label(for="comment") Comment
 br
 input(type="text" name="comments")
 br
 input(type="submit" name="bottle" value="Add Bottle Feeding")